@using Carlister.BLL.Cars
@using Carlister.Common.Enums
@using Carlister.Web.Controllers

@model Car

<div class="carView">
    <header>
        <a href="@Url.Action(nameof(CarController.Index), "Car", new { id = Model.CarID })">
            @Model.Year @Model.Make @Model.Model
        </a>
    </header>
    <content>
        <dl>
            <dt>Make</dt>
            <dd>@Model.Make</dd>

            <dt>Model</dt>
            <dd>@Model.Model</dd>

            <dt>Year</dt>
            <dd>@Model.Year</dd>
        </dl>
        <dl class="right">
            @{ Html.RenderPartial("_Price", Model); }
            <dt>Comments</dt>
            <dd title="@Model.Comments">@Model.Comments</dd>
        </dl>
    </content>
    <footer>
        <div class="saleType">
            @(Model.SaleType == SaleType.DealerSale ? "Dealer Sale" : "Private Sale")
        </div>

        @Html.ActionLink("Details / Enquire", nameof(CarController.Index), "Car", new { id = Model.CarID }, new { @class = "btn btn-primary" })
    </footer>
</div>
